<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO</h1>

    <input type="text" id="msg">
    <input type="button" value="Gửi" onclick="send()">


    <script src = '/socket.io/socket.io.js'></script>
    <script>
        const socket = io();

        socket.on('server_send_msg', (data) => {
            console.log(data);
        });

        const send = () => {
            const msg = document.getElementById('msg').value;
            socket.emit('send_message', msg)
        };
    </script>
</body>
</html>